# Ques 1
### Create a dataset having following features- experience of the candidate, written score, interview score and salary. Based on three input features, HR decide the salary of the selected candidates. Using this data, build a machine learning model for HR department that can help them decide salaries of the candidates. Using the built model, predict the salaries for the following candidates:
### (a) 5 Yrs experience, 8 written test score, 10 interview score
### (b) 8 Yrs experience, 7 written test score, 6 interview score

In [1]:
import pandas as pd
import numpy as np

### Creating the dataset

In [2]:
X = np.random.randn(200,3)

X[:, 0] *= 10
X[:, 1:] = (X[:, 1:] *100) % 10

X = np.absolute(X)
X = np.floor(X)

X[:5]

array([[6., 7., 9.],
       [8., 1., 5.],
       [7., 1., 2.],
       [0., 6., 5.],
       [2., 9., 5.]])

In [3]:
# creating the value such that it is dependent upon the given variables
# but containg a huge random factor associated with it

from random import randint
y = ((X[:, 0] * 5) + X[:, 1] + X[:, 2]) * 1000
for i in range(200):
    y[i] += 1000 * randint(1,20)
y[:5]

array([58000., 66000., 49000., 25000., 26000.])

In [4]:
X = pd.DataFrame(X, columns=['Experience', 'Test Score', 'Interview Score'])
y = pd.Series(y, name='Salary')

X.head()

   Experience  Test Score  Interview Score
0         6.0         7.0              9.0
1         8.0         1.0              5.0
2         7.0         1.0              2.0
3         0.0         6.0              5.0
4         2.0         9.0              5.0

In [5]:
y.head()

0    58000.0
1    66000.0
2    49000.0
3    25000.0
4    26000.0
Name: Salary, dtype: float64

In [6]:
print(X.shape)
print(y.shape)

(200, 3)
(200,)

In [7]:
dataset = X.copy()
dataset['Salary'] = y
dataset

     Experience  Test Score  Interview Score    Salary
0           6.0         7.0              9.0   58000.0
1           8.0         1.0              5.0   66000.0
2           7.0         1.0              2.0   49000.0
3           0.0         6.0              5.0   25000.0
4           2.0         9.0              5.0   26000.0
..          ...         ...              ...       ...
195        17.0         4.0              5.0  108000.0
196         0.0         9.0              7.0   19000.0
197         1.0         4.0              6.0   28000.0
198         1.0         9.0              7.0   40000.0
199         5.0         9.0              1.0   40000.0

[200 rows x 4 columns]

In [8]:
dataset.shape

(200, 4)

In [9]:
# saving the generated dataset into csv file
dataset.to_csv('salary.csv')

### Preprocessing of data

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Creating model and fitting data into it

In [11]:
from sklearn.linear_model import LinearRegression

linreg = LinearRegression().fit(X_train, y_train)

In [12]:
print('Training Set Score: {}'.format(linreg.score(X_train, y_train)))
print('Testing Set Score: {}'.format(linreg.score(X_test, y_test)))

Training Set Score: 0.966626614027788
Testing Set Score: 0.9726593122259252

### Predicting the given points

In [19]:
print('(a) 5 Yrs experience, 8 written test score, 10 interview score: {}'.format(int(linreg.predict([[5,8,10]]))))
print('(b) 8 Yrs experience, 7 written test score, 6 interview score: {}'.format(int(linreg.predict([[8,7,6]]))))

(a) 5 Yrs experience, 8 written test score, 10 interview score: 54156
(b) 8 Yrs experience, 7 written test score, 6 interview score: 63621